/* insert google fonts here */
.hero {
  background-color: #fffcf2;
  text-align: center;
  padding: 160px 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c1d21;
  font-weight: bold;
  font-family: "Commissioner", sans-serif;
}

p {
  font-weight: normal;
  font-family: "Commissioner", Arial, Helvetica, sans-serif;
  line-height: 30px;
}

.hero h1 {
  font-size: 96px;
  font-family: "Limelight", sans-serif;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 2;
  color: #877666;
}

.btn-info {
  background: #5688c7;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 27px;
}

.btn-info :hover {
  background-color: #7d8cc4;
  color: black;
}

.btn-site {
  background: white;
  border-radius: 4px;
  color: #7d8cc4;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 27px;
  border: 1px solid #7d8cc4;
}

.btn-site :hover {
  background: #7d8cc4;
  color: white;
  border: white;
}

.description {
  padding: 120px 60px;
}

@media (max-width: 960px) {
  .description {
    padding: 0;
    text-align: center;
  }
}
