/* insert google fonts here */
.hero {
  background-color: #cee5f2;
  text-align: center;
  padding: 160px 20px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c1d21;
  font-weight: bold;
  font-family: "Commissioner", sans-serif;
  box-sizing: border-box;
}

h4 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-family: "Commissioner", Arial, Helvetica, sans-serif;
  line-height: 30px;
  box-sizing: border-box;
}

nav {
  padding: 20px 0;
  box-sizing: border-box;
}

nav ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  color: #1c1d21;
  transition: all 100ms ease-in-out;
  box-sizing: border-box;
}

nav a:hover,
nav li.active a {
  color: #5688c7;
  box-sizing: border-box;
}

.hero h1 {
  font-size: 96px;
  font-family: "Limelight", sans-serif;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 2;
  color: #877666;
}

.btn-info {
  background: #5688c7;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 27px;
}

.btn-info :hover {
  background-color: #7d8cc4;
  color: black;
}

.btn-site {
  background: white;
  border-radius: 4px;
  color: #7d8cc4;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 27px;
  border: 1px solid #7d8cc4;
}

.btn-site :hover {
  background: #7d8cc4;
  color: white;
  border: white;
}

.logo {
  max-height: 40px;
  max-width: 40px;
  font-size: 28px;
}

.active {
  color: #5688c7;
}

.description {
  padding: 120px 60px;
}

/*@media (max-width: 900px) {
  .description {
    padding: 0;
    text-align: center;
  }
}*/

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: #cee5f2;
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 10%;
  font-size: 24px;
}

footer .email-link {
  text-decoration: none;
  color: #1c1d21;
  font-size: 24px;
}

footer .email-link:hover {
  color: #5688c7;
}

footer .social-links a {
  margin: 0 20px;
  color: #5688c7;
  background: #7d8cc4;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 120ms ease-in-out;
}

footer .social-links a:hover {
  color: #cee5f2;
  background: #5688c7;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  h4 {
    font-size: 18px;
  }

  .btn-info {
    font-size: 18px;
  }

  .hero {
    padding: 80px 20px;
  }

  /* .content {
    text-align: center;
    padding: 0;
  }*/

  .desciption {
    padding: 0;
    text-align: center;
  }
}
